* {
text-decoration:none;
border:none;
margin:0;
padding:0;
}

body {
background:#6f8aa8 url(../images/Layout/BGs/Principal.png) repeat-x;
text-align:center;
font-family:Helvetica !important;
font-size:12px;
}

#Topo {
float:left;
text-align:left;
width:980px;
padding-left:24px;
margin-left:-24px;
height:225px;
position:relative;
background:url(../images/Layout/BGs/topo.png) no-repeat top center;
}

#baseLayout {
width:976px;
height:auto;
margin:auto;
}

#Layout {
float:left;
text-align:left;
width:976px;
height:auto;
position:relative;
}

#TopoLogin {
float:left;
text-align:left;
width:980px;
padding-left:24px;
margin-left:-24px;
height:234px;
background:url(../images/Layout/BGs/topoLogin.jpg);
}

#Head {
float:left;
text-align:left;
width:980px;
padding-left:24px;
margin-left:-24px;
height:24px;
background:url(../images/Layout/BGs/Head.png) repeat-x top center;
position:relative;
font-size:13px;
font-weight:700;
color:#FFF;
}

#HeadInfo {
margin-top:3px;
float:left;
width:auto;
height:auto;
}

#HeadMenu {
float:right;
width:auto;
height:24px;
}

#HeadMenu ul {
float:right;
margin-right:14px;
}

#HeadMenu ul li {
list-style:none;
float:left;
text-align:center;
min-width:52px;
font-family:Helvetica;
color:#FFF;
text-transform:uppercase;
font-size:11px;
font-weight:600;
padding:5px 8px;
}

#HeadMenu ul li:hover {
background:#3F3F3F;
}

#AreaTopo {
float:left;
margin-left:0;
padding-left:24px;
width:955px;
height:200px;
position:relative;
}

#areaMarca {
float:left;
width:182px;
height:167px;
margin-left:380px;
margin-top:20px;
position:relative;
}

#BarraMenu {
float:left;
width:980px;
height:30px;
margin-left:-24px;
padding-left:25px;
background:url(../images/Layout/BGs/Menu.png) repeat-x;
text-align:center;
}

#BarraMenu ul li {
list-style:none;
font-size:11px;
font-weight:600;
position:relative;
float:left;
color:#403c3c;
font-family:Helvetica;
margin:auto;
}

#BarraMenu ul li:hover {
background:url(../images/Layout/BGs/Menu2.png) repeat-x;
list-style:none;
font-size:11px;
font-weight:600;
position:relative;
float:left;
color:#21527A;
font-family:Helvetica;
margin:auto;
}

#BarraMenu ul li a {
float:left;
margin-left:15px;
margin-right:15px;
text-transform:uppercase;
position:relative;
color:#403c3c;
padding:10px 15px 17px;
}

a {
color:inherit;
font-family:inherit;
font-size:inherit;
position:relative;
}

#content {
float:left;
width:980px;
height:auto;
min-height:800px;
margin-left:-22px;
padding-left:24px;
margin-top:-2px;
background:url(../images/Layout/BGs/content.png) no-repeat;
text-align:left;
position:relative;
}

#BoxUsuario {
width:743px;
height:auto;
text-align:left;
position:relative;
}

#MenuBoxUsuario {
width:741px;
height:39px;
margin-top:21px;
padding-left:2px;
position:relative;
}

#conteudoBoxUsuario {
float:left;
width:736px;
height:257px;
position:relative;
background:url(../images/Layout/BGs/boxUsuario.png) no-repeat;
}

#MenuBoxUsuario img {
float:left;
margin-left:1px;
margin-right:3px;
position:relative;
}

#ContUsuario {
float:left;
width:710px;
height:234px;
margin-left:10px;
margin-top:9px;
position:relative;
}

#BoxUsuarioUsuario {
float:left;
width:142px;
position:relative;
height:233px;
}

#BoxUsuarioUsuario img {
float:left;
position:relative;
}

#BoxUsuarioUsuarioTitulo {
float:left;
width:142px;
height:27px;
font-family:Helvetica;
color:#000;
font-size:16px;
text-transform:uppercase;
font-weight:700;
padding-top:10px;
position:relative;
text-align:center;
}

#BoxUsuarioInformacoes {
float:right;
position:relative;
width:549px;
height:226px;
}

#BoxUsuarioTitulos {
float:left;
width:549px;
height:35px;
position:relative;
}

#BoxUsuarioNomeUsuario {
float:left;
width:397px;
height:25px;
font-family:Helvetica;
font-weight:700;
font-size:16px;
padding-top:10px;
color:red;
position:relative;
}

#BoxUsuarioBotoes1 {
float:left;
width:148px;
height:35px;
font-family:Helvetica;
color:red;
font-weight:700;
position:relative;
font-size:16px;
}

#BoxUsuarioBotoes1 ul {
list-style:none;
position:relative;
}

#BoxUsuarioBotoes1 a {
float:right;
font-weight:700;
padding-left:16px;
text-transform:uppercase;
font-size:11px;
color:#000;
position:relative;
}

#BoxUsuarioBotoes1 a:hover {
color:#FC2829;
position:relative;
}

#BoxUsuariosInf {
float:left;
width:549px;
height:33px;
position:relative;
}

#BoxUsuariosInf2 {
float:left;
width:549px;
height:70px;
font-family:Helvetica;
font-size:11px;
position:relative;
}

#BoxUsuariosInf3 {
float:left;
width:549px;
height:40px;
font-weight:700;
text-transform:uppercase;
font-size:16px;
font-family:Helvetica;
position:relative;
}

.BoxUsuariosCaixasForm {
width:456px;
height:22px;
border:solid 1px #807f7e;
padding-top:4px;
float:left;
margin-top:5px;
position:relative;
}

.botaoForm01 {
margin-top:4px;
margin-left:4px;
float:left;
position:relative;
}

#boxDireita {
float:left;
width:200px;
height:595px;
min-height:595px;
max-height:595px;
margin-left:14px;
position:absolute;
left:760px;
top:10px;
}

#baseForumHome {
width:210px;
height:595px;
min-height:595px;
max-height:595px;
background:url(../images/Layout/BGs/ForumHome.png) repeat-y;
position:relative;
text-align:justify;
margin-top:71px;
}

#ForumHomeContent {
width:180px;
height:595px;
min-height:595px;
max-height:595px;
margin-left:15px;
text-align:justify;
color:#000;
font-size:13px;
font-weight:500;
position:relative;
}

#ForumHomeContent a {
color:#A42112;
font-weight:500;
}

#baseForumHomeRodape {
width:210px;
height:22px;
position:relative;
background:url(../images/Layout/BGs/ForumHomeRodape.png) no-repeat;
}

#ForumHomeContent .pcentro {
text-align:center;
width:180px;
height:15px;
padding-top:4px;
padding-bottom:4px;
}

#boxBaixoEsquerda {
float:left;
width:757px;
height:auto;
margin-left:-22px;
margin-top:-6px;
position:relative;
}

#boxBaixoEsquerdaTitulo {
float:left;
width:757px;
height:75px;
background:url(../images/Layout/BGs/TituloBoxBaixoHome.png) no-repeat;
text-align:left;
position:relative;
}

#boxBaixoDireitaTitulo {
float:left;
width:226px;
height:71px;
background:url(../images/Layout/TituloVerticalHome.png) no-repeat;
background-color:inherit;
text-align:left;
position:relative;
}

#boxBaixoEsquerdaContent {
float:left;
background:url(../images/Layout/BGs/ContentBoxBaixoHome.png) repeat-y;
text-align:left;
position:relative;
min-width:757px;
max-width:757px;
min-height:600px;
max-height:1140px;
width:auto;
height:auto;
}

#boxBaixoEsquerdaRodape {
float:left;
width:758px;
height:33px;
background:url(../images/Layout/BGs/rodapeBoxBaixoHome.png) no-repeat;
text-align:left;
position:relative;
}

#conteudoBoxBaixoHome {
float:left;
width:695px;
height:auto;
max-width:695px;
min-height:605px;
max-height:945px;
margin-left:40px;
font-family:Helvetica;
font-size:14px;
position:relative;
text-align:justify;
}

#rodape {
margin-left:-24px;
float:left;
min-width:1005px;
max-width:1005px;
min-height:355px;
max-height:355px;
background:#494848;
color:#FFF;
position:relative;
font-family:Helvetica;
font-size:13px;
text-align:center;
}

#rodape img {
padding-top:8px;
padding-bottom:8px;
position:relative;
margin:auto;
}

#ContEsqurda {
width:40px;
height:288px;
left:-39px;
top:-1954px;
background:url(../images/Layout/HomeEsquerda.png) no-repeat;
position:absolute;
}

#sobreMenuEsquerda {
float:left;
width:25px;
background:url(../images/Layout/BGs/Menu.png) repeat-x;
margin-left:-25px;
height:53px;
}

.img02 {
float:right !important;
margin-left:10px !important;
}

#barraDivideTopoLogin {
width:1024px;
height:17px;
background:#001b34;
float:left;
margin-left:-24px;
}

#ContaudoLogin {
float:left;
width:1024px;
height:509px;
margin-left:-24px;
background:url(../images/Layout/BGs/Login.png) no-repeat;
}

.CaixasLogin {
width:341px;
height:216px;
background:#6e87a4;
border:solid 10px #0b4b60;
float:left;
margin-left:44px;
margin-right:44px;
margin-top:80px;
text-align:center;
}

.CaixasLogin form {
font-family:Helvetica;
font-size:12px;
font-weight:700;
color:#FFF;
text-transform:uppercase;
text-align:left;
}

.caixasLogin {
width:217px;
height:23px;
padding-top:4px;
}

#form1 strong {
float:left;
width:50px;
height:27px;
padding-top:6px;
text-align:right;
padding-right:4px;
}

.btnLogin {
float:right;
margin-right:34px;
margin-top:10px;
}

.link01 {
float:left;
padding-top:20px;
color:#FFF;
text-decoration:none;
font-family:Helvetica;
font-size:10px;
text-transform:uppercase;
width:100%;
height:27px;
text-align:center;
}

#ConteudoInternoGrpous {
float:left;
width:728px;
height:219px;
margin-left:4px;
}

#ConteudoInternoGrpous h1 {
font-family:Helvetica;
font-size:16px;
text-transform:uppercase;
text-decoration:underline;
float:left;
width:720px;
height:10px;
margin-top:7px;
padding-left:10px;
margin-bottom:20px;
}

#ContInternoGrpous {
float:left;
width:728px;
height:234px;
margin-left:4px;
}

#BarraContInternoGrpous {
float:left;
width:100%;
height:27px;
background:#f1fa3a;
}

#BarraContInternoTurmas {
float:left;
width:100%;
height:27px;
background:#fead2b;
}

#BarraContInternoTurmas ul {
display:inline;
float:left;
margin:auto auto auto 200px;
}

#BarraContInternoTurmas ul li a:hover {
background:#fcbd58;
}

.ListagemContInernoGrpous {
width:712px;
height:70px;
float:left;
margin-bottom:4px;
margin-left:10px;
}

.ListagemContInernoGrpousAvatar {
width:104px;
height:64px;
background:#f0f0f0;
margin-right:4px;
float:left;
font-family:Helvetica;
text-transform:uppercase;
font-size:12px;
font-weight:700;
padding-top:6px;
}

.ListagemContInernoGrpousConteudo {
width:568px;
height:58px;
background:#f0f0f0;
float:left;
font-family:Helvetica;
font-size:10px;
text-align:left;
padding:6px;
}

.ListagemContInernoGrpousConteudo .texto {
float:left;
width:450px;
height:auto;
margin-top:10px;
}

#BarraContInternoGrpous ul {
display:inline;
float:left;
margin:auto auto auto 216px;
}

#BarraContInternoGrpous ul li a:hover {
background:#e7f11e;
}

.icones01 {
float:left;
margin-left:26px;
margin-top:22px;
}

.icones02 {
float:left;
margin-left:26px;
margin-top:26px;
}

#barraNavega {
float:left;
width:170px;
height:auto;
margin-top:10px;
margin-left:300px;
font-family:Helvetica;
font-size:16px;
font-weight:700;
}

#CaixaBuscas {
float:left;
margin-top:30px;
margin-left:64px;
width:600px;
height:120px;
background:url(../images/Layout/BGs/busca.png) no-repeat;
}

#campoBusca {
float:left;
width:430px;
height:23px;
font-family:Helvetica;
font-size:12px;
font-weight:700;
margin-top:50px;
margin-left:130px;
}

#campoBusca input {
border:none;
width:152px;
height:20px;
background:url(../images/Layout/BGs/caixasBusca.png) no-repeat;
font-family:Helvetica;
font-size:12px;
padding-top:3px;
}

#campoBusca select {
border:none;
width:152px;
height:23px;
background:url(../images/Layout/BGs/caixasBusca.png) no-repeat;
font-family:Helvetica;
font-size:12px;
padding-top:3px;
}

#CriarGupo {
float:left;
width:595px;
height:121px;
background:url(../images/Layout/BGs/CriarNovoGrupo.png) no-repeat;
margin-top:26px;
margin-left:70px;
font-family:Helvetica;
font-size:18px;
font-weight:700;
text-align:center;
padding-top:80px;
}

#CriarGupo a:hover {
color:#C00;
}

#Boxes {
float:left;
width:722px;
height:553px;
background:url(../images/Layout/BGs/Boxes.png) no-repeat;
}

#Boxes #conteudo {
float:left;
width:651px;
height:498px;
text-align:left;
margin-left:30px;
margin-top:4px;
}

#Boxes .imagem01 {
float:left;
margin-right:4px;
margin-bottom:4px;
}

#Boxes #Cabecalho {
float:left;
width:100%;
height:100px;
font-family:Helvetica;
color:#FFF;
font-size:12px;
}

#Boxes #Cabecalho h1 {
font-family:Helvetica;
font-size:16px;
color:#FFF;
}

#Boxes .titulos {
width:100%;
height:20px;
font-family:Helvetica;
color:#fff;
float:left;
font-size:16px;
font-weight:700;
padding-top:4px;
border-bottom:2px solid #4c4c4c;
margin-top:12px;
}

#Boxes .contents {
width:100%;
height:auto;
color:#000;
font-family:Helvetica;
font-size:12px;
padding-top:8px;
padding-bottom:8px;
float:left;
}

#Boxes #BarraControla {
float:left;
width:651px;
margin-left:30px;
height:22px;
text-align:right;
margin-bottom:4px;
margin-top:10px;
}

.BoxUsuariosCaixasForm:hover,.caixasLogin:hover {
background:#FFFABF;
}

#boxBaixoEsquerda2 #barraMenu ul,#boxBaixoEsquerda2 .caixas ul {
list-style:none;
}

#BoxTituloBoxBaixo,#BoxTituloDireitaBoxBaixo {
float:left;
width:auto;
margin-top:21px;
margin-left:35px;
max-width:190px;
padding-top:8px;
height:28px;
font-family:Helvetica;
font-size:11px;
font-weight:700;
text-transform:uppercase;
}

#BoxTituloBoxBaixo {
max-width:400px;
}

#BarraContInternoTurmas ul li,#BarraContInternoGrpous ul li {
list-style:none;
display:inline;
}

#BarraContInternoTurmas ul li a,#BarraContInternoGrpous ul li a {
list-style:none;
display:inline;
float:left;
height:19px;
padding-top:8px;
width:auto;
padding-left:6px;
padding-right:6px;
font-family:Helvetica;
font-size:11px;
font-weight:700;
text-transform:uppercase;
}

#HeadMenu ul li a,#rodape a {
color:#FFF;
}